@charset "utf-8";

body { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background: #87CEEB
 }

 h1 {
     font-size: 14px;
     color: #FF0000;
 }
 a{
     font-size: 16px;
     color: #000000

 }
 a:hover{
     color: blue;
 }             

 h2{
     font-size: 14px;
     color: blue;
     
 }

 .titulo-especial{
     background-color: slategray;
     padding: 10px; 
 }

 table {
     border-collapse: collapse;
     width: 15px;
                
 }

 tr, td {
     border: 1px solid black;
                
 }
 p{
  font-size: 15px;           
 }
 
 label {
     font-size: 18px;
 }